<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Uploader</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h2 class="mb-4">Upload File</h2>
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="name">File Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            required
          />
        </div>
        <div class="form-group">
          <label for="file">Upload File</label>
          <input
            type="file"
            class="form-control py-1 px-1"
            id="file"
            name="myimage"
            accept="image/*"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <!-- <img src="../uploads/f8851cdff43757b93c61f45b9d60a134" alt=""> -->
    </div>
  </body>
</html>
